.form {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    background-color: white;
    padding: 20px;
}

.form__field {
    flex-grow: 1;
    padding: 10px;
}

.form__button {
    padding: 10px;
    border: none;
    background-color: teal;
    color: white;
    transition: 1s, transform 0.3s;
}

.form__button:hover {
    background-color: hsl(180, 100%, 30%);
    transform: scale(1.1);
}

.form__button:active {
    transition: none;
    background-color: hsl(180, 100%, 35%);
}


@media (max-width:756px) {
    .form {
        flex-direction: column;
    }
}