.list {
    background-color: white;
    list-style: none;
    text-decoration: none;
    padding: 30px;
    padding-top: 0;
    margin: 0;
}

.list__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 20px;
    align-items: center;
    padding: 20px 0;
    padding-top: 30px;
    border-bottom: 1px solid grey;
}

.list__itemContent {
    margin: 0;
    align-self: center;
}

.list__itemContent--done {
    text-decoration: line-through;
}

.list__button {
    border: 0;
    padding: 0;
    margin: 0;
    height: 32px;
    width: 32px;
    background-color: hsla(116, 72%, 33%, 0.781);
    transition: 0.5s;
}

.list__button:hover {
    background-color: hsla(116, 72%, 38%, 0.781);
}

.list__buttonRemove {
    border: 0;
    padding: 0;
    margin: 0;
    height: 32px;
    width: 32px;
    background-color: hsl(0, 82%, 56%);
    transition: 1s;
}

.list__buttonRemove:hover {
    background-color:hsl(0, 82%, 45%);
}