html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(235, 235, 235);
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    padding: 20px;
    padding-top: 0px;
    word-break: break-word;
}